<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121861403390-33va7s939bsh2srtiqau0i5fgc02rsap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121861403390-33va7s939bsh2srtiqau0i5fgc02rsap</string>
	<key>API_KEY</key>
	<string>AIzaSyD_5F_JEr7zpJ0-DSLz47ThobKBX4Dz-EA</string>
	<key>GCM_SENDER_ID</key>
	<string>121861403390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.cilia.filippo.FIREMessage</string>
	<key>PROJECT_ID</key>
	<string>firemessage-1597d</string>
	<key>STORAGE_BUCKET</key>
	<string>firemessage-1597d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121861403390:ios:eca1e67ee511ff23162baf</string>
</dict>
</plist>